# Claude Code
.claude/settings.local.json

# Secrets
assets/.env

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Web spezifisch 
.cache/
.history/

# OS spezifisch
.DS_Store
Thumbs.db